<%- include("header")-%>
<%- include("navbar")-%>
<div class="content">
    <p>
        <h4>User Generated Token</h4><%=tok%>
    </p>
</div>
<div class="content">
    <h2>Contact</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste nobis quos, qui eius aspernatur maiores
        repellendus explicabo perspiciatis minima enim nemo exercitationem eveniet sint sunt quaerat. Voluptates
        adipisci ad ea?Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste nobis quos, qui eius
        aspernatur maiores
        repellendus explicabo perspiciatis minima enim nemo exercitationem eveniet sint sunt quaerat. Voluptates
        adipisci ad ea?Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste nobis quos, qui eius
        aspernatur maiores
        repellendus explicabo perspiciatis minima enim nemo exercitationem eveniet sint sunt quaerat. Voluptates
        adipisci ad ea?Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste nobis quos, qui eius
        aspernatur maiores
        repellendus explicabo perspiciatis minima enim nemo exercitationem eveniet sint sunt quaerat. Voluptates
        adipisci ad ea?</p>
</div>
<div class="content">
    <h2>Contact</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste nobis quos, qui eius aspernatur maiores
        repellendus explicabo perspiciatis minima enim nemo exercitationem eveniet sint sunt quaerat. Voluptates
        adipisci ad ea?Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste nobis quos, qui eius
        aspernatur maiores
        repellendus explicabo perspiciatis minima enim nemo exercitationem eveniet sint sunt quaerat. Voluptates
        adipisci ad ea?Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste nobis quos, qui eius
        aspernatur maiores
        repellendus explicabo perspiciatis minima enim nemo exercitationem eveniet sint sunt quaerat. Voluptates
        adipisci ad ea?Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste nobis quos, qui eius
        aspernatur maiores
        repellendus explicabo perspiciatis minima enim nemo exercitationem eveniet sint sunt quaerat. Voluptates
        adipisci ad ea?</p>
</div>


<% for(var i=0;i<content.length;i++){
        %>
<div class="content">
    <h2><%=content[i]%></h2>
    <p><%=heading[i]%></p>
</div>
<%
    }%>


<%- include("footer")-%>